* {
  margin: 0;
  padding: 0; }

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

body {
  background: #FDFFFC;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  min-height: 100vh; }

.section-title-wrapper {
  text-align: left;
  margin: 30px 0 20px 20px; }
  @media (min-width: 610px) {
    .section-title-wrapper {
      margin-left: 80px; } }
  @media (min-width: 900px) {
    .section-title-wrapper {
      margin-left: 140px; } }
  .section-title-wrapper .line-title {
    display: block;
    width: 30px;
    height: 3px;
    background: #F6AE2D;
    margin-bottom: 5px; }
    @media (min-width: 610px) {
      .section-title-wrapper .line-title {
        width: 50px;
        height: 4px;
        margin-bottom: 8px; } }
    @media (min-width: 900px) {
      .section-title-wrapper .line-title {
        margin-bottom: 8px;
        width: 80px;
        height: 4px; } }
  .section-title-wrapper h2 {
    display: block;
    color: #F6AE2D;
    font-family: "Russo One", sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase; }
    @media (min-width: 610px) {
      .section-title-wrapper h2 {
        font-size: 22px; } }
    @media (min-width: 900px) {
      .section-title-wrapper h2 {
        font-size: 26px; } }

a.yellow-btn {
  display: inline-block;
  color: #F6AE2D;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  border: #F6AE2D 4px solid;
  border-radius: 40px;
  padding: 5px 20px;
  margin-top: 12px;
  transition: 0.2s ease-in-out all; }
  a.yellow-btn:hover {
    background: #F6AE2D;
    color: #141414; }
  @media (min-width: 610px) {
    a.yellow-btn {
      padding: 8px 48px;
      font-size: 16px; } }
  @media (min-width: 900px) {
    a.yellow-btn {
      margin-top: 16px;
      padding: 8px 56px;
      font-size: 20px; } }

.wrapper-nav {
  width: 100%;
  z-index: 99; }
  .wrapper-nav nav {
    width: 100%;
    height: 80px;
    background: #000;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5); }
    .wrapper-nav nav img {
      height: 20px;
      float: left;
      margin-top: 30px;
      position: absolute;
      left: 6%; }
      @media (min-width: 610px) {
        .wrapper-nav nav img {
          left: 7%; } }
      @media (min-width: 900px) {
        .wrapper-nav nav img {
          height: 20px;
          margin-left: 90px;
          position: static; } }
    .wrapper-nav nav #menu {
      float: right;
      margin-top: 30px;
      margin-right: 60px;
      display: none;
      transition: all 0.5s ease-in-out; }
      @media (min-width: 900px) {
        .wrapper-nav nav #menu {
          display: block; } }
      .wrapper-nav nav #menu li {
        display: inline-block;
        transition: all 0.3s ease-in-out; }
        .wrapper-nav nav #menu li a {
          font-size: 16px;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          margin-left: 20px;
          transition: all 0.3s ease-in-out; }
          .wrapper-nav nav #menu li a:hover {
            color: #38BBBD; }
        .wrapper-nav nav #menu li a.current-page {
          color: #F6AE2D; }
        .wrapper-nav nav #menu li a.get-tickets {
          background: #38BBBD;
          padding: 12px 22px;
          margin-left: 0px; }
          .wrapper-nav nav #menu li a.get-tickets:hover {
            color: #fff;
            background: #E301DE; }
        .wrapper-nav nav #menu li a.get-tickets-current {
          background: #F6AE2D;
          color: #141414; }
      .wrapper-nav nav #menu li.get-tickets {
        height: 35px;
        width: 150px;
        position: relative;
        border: 2px solid #FDFFFC;
        margin-left: 20px; }
    .wrapper-nav nav #toggle {
      position: absolute;
      right: 10%;
      top: 14px;
      z-index: 999;
      width: 40px;
      height: 40px;
      float: right;
      transition: all 0.3s ease-in-out;
      visibility: visible;
      cursor: pointer;
      opacity: 1;
      margin-top: 8px; }
      @media (min-width: 900px) {
        .wrapper-nav nav #toggle {
          visibility: hidden;
          opacity: 0; } }
      .wrapper-nav nav #toggle .span {
        background: #F6AE2D;
        height: 2px;
        margin: 3px auto;
        transition: all ease-in-out 0.3s;
        backface-visibility: hidden;
        float: right; }
      .wrapper-nav nav #toggle .span#one {
        width: 32px; }
      .wrapper-nav nav #toggle .span#two {
        width: 18px; }
      .wrapper-nav nav #toggle .span#three {
        width: 24px; }
    .wrapper-nav nav #toggle.on #one {
      width: 40px;
      transform: rotate(45deg) translateX(3px) translateY(4px); }
    .wrapper-nav nav #toggle.on #two {
      opacity: 0; }
    .wrapper-nav nav #toggle.on #three {
      width: 40px;
      transform: rotate(-45deg) translateX(8px) translateY(-8px); }
  .wrapper-nav #resize {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    top: 0;
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
    display: table; }
    .wrapper-nav #resize #menu {
      height: 50px;
      display: table-cell;
      vertical-align: center; }
      .wrapper-nav #resize #menu li {
        display: block;
        text-align: center;
        padding: 20px 0;
        font-size: 50px;
        min-height: 50px;
        cursor: pointer;
        transition: all 0.3s ease-in-out; }
        .wrapper-nav #resize #menu li a {
          color: #fff;
          font-size: 16px;
          text-decoration: none;
          text-transform: uppercase; }
          .wrapper-nav #resize #menu li a:hover {
            color: #38BBBD; }
        .wrapper-nav #resize #menu li a.current-page {
          color: #F6AE2D; }
  .wrapper-nav #resize.active {
    visibility: visible;
    opacity: 1; }

footer {
  width: 100%;
  background: #000;
  overflow: auto;
  border-top: 1px solid #F6AE2D;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  footer .footer-logo {
    margin: 0 auto; }
    footer .footer-logo img {
      height: 15px;
      margin: 40px auto 30px auto;
      opacity: 0.9; }
  footer .footer-line {
    height: 2px;
    width: 150px;
    background: #FDFFFC;
    margin: 0 auto;
    opacity: 0.7; }
    @media (min-width: 900px) {
      footer .footer-line {
        width: 230px; } }
  footer nav {
    float: left; }
    @media (min-width: 610px) {
      footer nav {
        margin: 20px auto; } }
    @media (min-width: 900px) {
      footer nav {
        margin: 40px auto; } }
    footer nav ul li {
      display: block;
      margin: 5px; }
      @media (min-width: 610px) {
        footer nav ul li {
          display: inline-block; } }
      footer nav ul li a {
        text-decoration: none;
        color: #FDFFFC;
        text-transform: uppercase;
        font-size: 12px;
        margin-right: 10px;
        margin-left: 16px;
        opacity: 0.6;
        transition: 0.3s all ease-in-out;
        cursor: pointer; }
        footer nav ul li a:hover {
          opacity: 1; }
        @media (min-width: 610px) {
          footer nav ul li a {
            margin-left: 0px; } }
        @media (min-width: 900px) {
          footer nav ul li a {
            font-size: 16px;
            margin-right: 35px; } }
      footer nav ul li:last-child a {
        margin-right: 0px; }
      footer nav ul li a.get-tickets {
        background: #38BBBD;
        padding: 10px 20px;
        margin-left: 0px;
        opacity: 1;
        margin-top: 15px; }
        @media (min-width: 610px) {
          footer nav ul li a.get-tickets {
            display: none; } }
        footer nav ul li a.get-tickets:hover {
          color: #fff;
          background: #E301DE; }
    footer nav ul li.get-tickets {
      height: 30px;
      width: 120px;
      position: relative;
      border: 2px solid #FDFFFC;
      margin: 5px;
      margin-top: 15px;
      margin-left: 16px; }
      @media (min-width: 610px) {
        footer nav ul li.get-tickets {
          display: none; } }
  footer .wrapper {
    width: 100%; }
    footer .wrapper p {
      font-size: 10px;
      font-weight: 300;
      float: right;
      padding: 0 2em 1.5em 0;
      opacity: 0.6; }
      @media (min-width: 900px) {
        footer .wrapper p {
          font-size: 14px;
          padding: 0 4em 3em 0; } }

.form-container {
  width: 96%;
  margin: 10px auto; }
  .form-container .info {
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    color: #141414;
    text-align: center; }
    .form-container .info img {
      margin: 2px auto;
      height: 40px;
      width: 50px; }
    .form-container .info h2 {
      font-size: 22px;
      font-weight: 500;
      margin: 5px auto; }
    .form-container .info p {
      font-size: 18px;
      font-weight: 300; }
  .form-container #mc_embed_signup {
    max-width: 600px;
    margin: 20px auto;
    color: #141414; }
    .form-container #mc_embed_signup .indicates-required {
      font-size: 14px;
      font-weight: 300;
      margin: 10px 4px; }
    .form-container #mc_embed_signup .mc-field-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px; }
      .form-container #mc_embed_signup .mc-field-group label {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 5px; }
      .form-container #mc_embed_signup .mc-field-group input {
        height: 38px;
        border: 1px solid #9B9B9B;
        background: transparent;
        border-radius: 6px;
        font-size: 18px;
        padding-left: 6px; }
      .form-container #mc_embed_signup .mc-field-group textarea {
        height: 160px;
        text-align: left;
        border: 1px solid #9B9B9B;
        background: transparent;
        border-radius: 6px;
        font-size: 18px;
        padding-left: 6px; }
@media(max-width: 610px) {
  .form-container #mc_embed_signup .mc-field-group textarea {
    font-size: 16px; } }
    .form-container #mc_embed_signup .name-inputs {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
@media(max-width: 610px) {
  .form-container #mc_embed_signup .name-inputs {
    flex-direction: column; } }
      .form-container #mc_embed_signup .name-inputs .mc-field-group {
        width: 49%; }
@media(max-width: 610px) {
  .form-container #mc_embed_signup .name-inputs .mc-field-group {
    width: 100%; } }
    .form-container #mc_embed_signup .input-group {
      margin-bottom: 0px; }
      .form-container #mc_embed_signup .input-group ul {
        display: flex;
        align-items: center;
        flex-direction: row; }
        .form-container #mc_embed_signup .input-group ul li {
          display: flex;
          align-items: center;
          flex-direction: row; }
          .form-container #mc_embed_signup .input-group ul li:nth-child(2) {
            margin-left: 40px; }
          .form-container #mc_embed_signup .input-group ul li label {
            padding-left: 10px;
            margin: 0px; }
    .form-container #mc_embed_signup .mce-responses {
      margin: 10px auto; }
  .form-container #mc-embedded-subscribe {
    height: 40px;
    width: 150px;
    border-radius: 40px;
    border-color: transparent;
    float: right;
    margin-bottom: 18px;
    background: #38BBBD;
    font-size: 20px;
    color: #FDFFFC;
    transition: all ease-in-out 0.3s; }
    .form-container #mc-embedded-subscribe:hover {
      background: #F6AE2D; }

/*# sourceMappingURL=style.css.map */
